/* Lists of stories */

.stories-list {
  margin: 20px 5px;
}

.story-list-content{
  color: gray;
  font-size: 0.8rem;
  margin: 10px 0px;
  display: flex;
  flex-direction: row;
  align-items: start;
  position: relative;
}

::marker {
  color: grey;
  font-size: small;
}

.story-header {
  display: block;

}

.story-hostname {
  justify-self: flex-start;
}

#stories-loading-msg {
  font-weight: bold;
  font-size: 150%;
  margin: 20px 30px;
}

.content-container {
  align-self: start;
  position: relative;
  margin-left: 10px;
}


/* Individual stories */

.story-link {
  color: black;
  font-size: 0.85rem;
  font-weight: normal;
  margin: 18px 0;
}

.story-link:hover {
  text-decoration: none;
}

.story-author {
  margin-left: 0;
  color: green;
  
}

.story-user {
  display: block;
  color: orange;
}

#own-stories-list { 
  list-style-type: none;
}

.fa-trash:hover {
  color: brown;
}

.fa-pencil-alt:hover {
  color: rgb(73, 73, 73)
}
